{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/stage.css' %}">
{% endblock %}

<div class="stage-notice">
  This is the stage enviroment.
  Feel free to test it and <a href="https://gitlab.com/librespacefoundation/satnogs/satnogs-db/issues" target="_blank">report bugs</a>.
  Production deployment is at <a href="https://db.satnogs.org" target="_blank">db.satnogs.org</a>.
</div>
